# Ignore gradle build artifacts and temp files
.gradle/
build/

# Ignore VSCode developer specific and temp stuff
.bloop/
.metals/
/.classpath
/.project
/.settings/
/.vscode/settings.json

# Ignore repos directory for developer testing and CI running
/repos/

/src/main/scala/edu/wwu/eas/automation/automation.worksheet.sc
